/* Estilos da galeria de imagens */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 5px 50px;
  justify-content: center;
}

.gallery img {
  width: 100%;
  max-width: 30rem;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Estilos das imagens da galeria */
.demo {
  flex: 1 1 30%;
  max-width: calc(33.33% - 10px);
  cursor: pointer;
  transition: transform 0.2s;
  height: auto;
}

.demo:hover {
  transform: scale(1.05);
}

/* Estilos do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Conteúdo do modal */
.modal-content {
  position: relative;
  margin: auto;
  justify-content: center;
  display: block;
  width: 90%;
  max-width: 700px;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilo do botão de fechar */
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

/* Setas de navegação */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 18px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  z-index: 1000;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* Legenda da imagem */
#caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  font-size: 14px;
}

/* Imagens ativas no modal */
.active {
  opacity: 1;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .demo {
    max-width: calc(50% - 10px);
  }

  .modal-content {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .gallery img {
    max-width: 20rem;
  }
}

@media screen and (max-width: 480px) {
  .demo {
    max-width: 100%;
  }

  .modal-content {
    width: 95%;
  }
}
